:root{
    --nav_height: 5%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction : column;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #111;
  color: white;
  padding: 10px;
  text-align: center;
  height: var(--nav_height)
}

.container {
  display: flex;
  margin-top : var(--nav_height);
  flex-direction : row;
  width : 100%;
  height : 83vh;
}

.sidepanel {
  height: 85%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: var(--nav_height);
  background-color: #111;
  overflow-x: hidden;
  padding-top: 0px;
  transition: 0.5s;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}


.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  align-items: top;
  cursor: pointer;
  background-color: #111;
  height : 100%;
  color: white;
  padding: 10px 15px;
  border: none;
  width: 5%;
  transition: 0.4s;
}

.openbtn:hover {
  background-color: #444;
}

.main-content {
  margin-right: 0px;
  width: 75%;
  padding: 10px;
  
}

.right-panel {
  width: 20%;
  background: #f4f4f4;
  padding: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
